[Unit]
Description=Prune gomi trash older than 30 days

[Service]
Type=oneshot
ExecStart=/home/elliot/.local/bin/mise exec -- gomi --force --prune=30d
