{
  "colors": {
    "cursor": "#{{base0D-hex}}",
    "selected": "#{{base0B-hex}}",
    "filter_match": "#{{base0A-hex}}",
    "filter_prompt": "#{{base0D-hex}}",
    "detail_border": "#{{base04-hex}}",
    "pane_fg": "#{{base05-hex}}",
    "pane_bg": "#{{base01-hex}}",
    "preview_border": "#{{base02-hex}}",
    "preview_fg": "#{{base05-hex}}",
    "preview_bg": "#{{base02-hex}}",
    "danger": "#{{base08-hex}}"
  }
}
